# .bashrc

# User specific aliases and functions

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias c=clear
alias lo="exit"
alias ls="ls -F"
alias more=less
s='suspend -f'

set -o vi


# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

