# Generation of Kubernetes YAML is still under development!
#
# Save the output of this file and use kubectl create -f to import
# it into Kubernetes.
#
# Created with podman-1.5.1
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: nexus
  name: nexus
spec:
  containers:
  - command:
    - sh
    - -c
    - ${SONATYPE_DIR}/start-nexus-repository-manager.sh
    env:
    - name: PATH
      value: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    - name: TERM
      value: xterm
    - name: HOSTNAME
    - name: container
      value: oci
    - name: NEXUS_HOME
      value: /opt/sonatype/nexus
    - name: NEXUS_DATA
      value: /nexus-data
    - name: NEXUS_CONTEXT
    - name: DOCKER_TYPE
      value: rh-docker
    - name: INSTALL4J_ADD_VM_PARAMS
      value: -Xms1200m -Xmx1200m -XX:MaxDirectMemorySize=2g -Djava.util.prefs.userRoot=/nexus-data/javaprefs
    - name: SONATYPE_DIR
      value: /opt/sonatype
    - name: SONATYPE_WORK
      value: /opt/sonatype/sonatype-work
    image: "{{ nexus_container_image_name }}:{{ nexus_container_image_version }}"
    name: nexus
    ports:
    - containerPort: 8081
      hostPort: 8081
      protocol: TCP
    resources: {}
    securityContext:
      allowPrivilegeEscalation: true
      capabilities: {}
      privileged: false
      readOnlyRootFilesystem: false
      runAsUser: 200
    volumeMounts:
    - mountPath: "{{ nexus_volume_mount_name }}"
      name: "home-{{ user }}-Services-nexus-nexus-data"
    workingDir: /
  volumes:
  - hostPath:
      path: "/home/{{ user }}{{ nexus_project_dir }}{{ nexus_volume_mount_name }}"
      type: Directory
    name: "home-{{ user }}-Services-nexus-nexus-data"
status: {}

